@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:wght@300&display=swap');

.btn-all{
  background-color: #dd3737;
  padding: 8px 20px;
  font-size: 16px;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 20px;
  box-shadow: -3px 3px 9px 2px #626161;
  font-family: 'Montserrat', sans-serif;
}
.btn-all:hover{
  cursor: pointer;
  transform: scale(1.1);
}
#root{
  height: 100%;
}
body{
  margin: 0;
}
.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
